@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Asap';
  src: url(fonts/Asap-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Asap';
  src: url(fonts/Asap-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url(fonts/Nunito-Medium.ttf);
  font-weight: normal; /* font-weight is 500 */
}

@font-face {
  font-family: 'Nunito';
  src: url(fonts/Nunito-ExtraBold.ttf);
  font-weight: bold; /* font-weight is 800*/
}

:root {
  --primary-font-family: 'Poppins';
  --banner-font-family: 'Nunito';
  --content-font-family: 'Asap';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font-family), sans-serif;
}

/* Styles for the banner */
#banner {
  /* display stuff */
  display: flex;
  flex-direction: column;

  /* box model stuff */
  padding: 39px 85px 36px;

  /* typography */
  color: white;

  /* miscellaneous */
  background-image: linear-gradient(90deg, #2a4072 0, #4c78db);
}

/* Top row of banner */
.header {
  /* display stuff */
  display: flex;
  align-items: center;

  /* positioning stuff */
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;

  margin-right: 1rem;

  font-size: 1.68rem;
}

.logo {
  width: auto;
  height: 52px;
  margin-right: 0.75rem;
}

.logo-container > .heading {
  font-family: var(--banner-font-family), san-serif;
  font-weight: normal;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.4rem;

  text-transform: uppercase;
}

.subheading {
  border-left: 3px solid;

  padding-left: 22px;

  font-family: var(--banner-font-family), san-serif;
  color: #ffd02f;
  letter-spacing: 0.175rem;
  font-weight: bold;
  font-size: 1.5rem;

  text-transform: uppercase;
}

.nav-to-intelllex {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Align it to the rightmost part of the parent box */
  margin-left: auto;

  font-size: 1.125rem;
}

.nav-to-intelllex > a:link {
  font-size: 1em;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.nav-to-intelllex > a:visited {
  color: white;
}

.nav-square-arrow {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
}

/* Bottom row of banner */
.caption {
  font-weight: 600;
  font-size: 3.125rem;
  letter-spacing: -0.1rem;
  margin: 50px 0 35px;
}

/* Styles for main section */
.main-page {
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  gap: 1.5rem;

  width: 75vw;
  max-width: 1140px;
  padding: 5rem 0;
}

/* Style main content */
.main-content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 10px;
}

.main-content-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 100%;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #bebebe;
}

.main-content-item > h1 {
  margin-bottom: 1rem;

  font-weight: 600;
  font-size: 3.125rem;
  line-height: 1.26;
  letter-spacing: -1.7px;
  color: #454d57;
}

.main-content-item img {
  width: 100%;
}

.description > * {
  font-family: var(--content-font-family), var(--primary-font-family),
    sans-serif;
  letter-spacing: 0.015rem;
  word-spacing: 0.01rem;
  line-height: 1.8;
  color: #454d57;

  margin-bottom: 1rem;
}

.description > * {
  margin-bottom: 1rem;
}

/* Styles for navigation */
.main-nav-item {
  padding: 0.625rem;

  border-radius: 0.25rem;

  font-size: 1.125rem;
  font-weight: 500;
  color: #454d57;
  letter-spacing: -0.1px;
  line-height: 1.22;

  cursor: pointer;
}

.main-nav-item:hover {
  background-color: rgba(173, 202, 221, 0.2);
}

/* Styles for the footer */
.social-icon {
  width: 50px;
  height: 50px;
}
